@import "reset.css";
html {
    width: 100%;
    height: 100%;
}
p {
    line-height: 1.5;
}
body {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}
@font-face {
    font-family: 'mbc';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
main{
    width: 100%;
    height: 100%;
}
.wrap{
    max-width: 1020px;
    margin: 0 auto;
}
.sec1{
    background: url(../img/index.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
}
.sec1 .logo{
    position: absolute;
    left: 200px;
    top: 100px;
    width: 700px;
}
.sec1 .logo a{
    color: #FFF;
    text-align: center;
}
.sec1 .text{
    position: absolute;
    top: 300px;
    left: 200px;
    width: 600px;
    color: #FFF;
    word-break: keep-all;
    z-index: 10;
    cursor: default;
}
.sec1 .text h2{
    font-size: 60px;
    font-family: 'mbc';
    white-space: pre-line;
    margin-bottom: 50px;
}
.sec1 .text p{
    font-size: 24px;
}
.sec1 .phone{
    position: absolute;
    right: 2%;
    bottom: 0;
    width: 40%;
}
.sec2 .head{
    font-size: 30px;
    color: #FFF;
    background-color: #48A1A3;
    padding: 30px 0;
    text-align: center;
    font-weight: bold;
}
.sec2 .head p{
    width: 92%;
    margin: 0 auto;
    word-break: keep-all;
    cursor: default;
}
.sec2 .swiper {
    width: 100%;
    padding: 100px 0;
}
.swiper-slide .flex{
    width: 80%;
    margin: auto;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    cursor: default;
}
.swiper-slide .text .num{
    width: 60px;
    margin-bottom: 12px;
}
.swiper-slide .text h3{
    font-family: 'mbc';
    margin-bottom: 24px;
    font-size: 40px;
}
.swiper-slide .text p{
    color: #6C6C6C;
    font-size: 24px;
    word-break: keep-all;
    white-space: pre-line;
}
.swiper-slide .img{
    width: 600px;
}
.button-next{
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    z-index: 10;
    cursor: pointer;
}
.button-prev{
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    z-index: 10;
    cursor: pointer;
}
.sec3{
    background-color: #7EBEFF;
    padding: 50px 0;
    box-sizing: border-box;
}
.sec3 h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'mbc';
    font-size: 50px;
    color: #FFF;
    cursor: default;
}
.sec3 h2 .logo{
    width: 85px;
    margin-right: 12px;
}
.sec3 .use_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1020px;
    margin: 0 auto
}
.sec3 .use_box .use{
    width: 290px;
    font-size: 24px;
    color: #FFF;
    margin: 24px 0;
    text-align: center;
    word-break: keep-all;
}
.sec3 .use_box .use figure{
    margin-bottom: 24px;
}
.sec3 .use_box .arrow{
    width: 18px;
}
.sec4{
    padding: 50px 0;
}
.sec4 h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'mbc';
    font-size: 50px;
    margin-bottom: 24px;
    cursor: default;
}
.sec4 h2 .logo{
    width: 85px;
    margin-right: 12px;
}
.sec4 .emoticon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1020px;
    margin: 0 auto 24px;
}
.sec4 .emoticon li img{
    width: 60px;
    margin: 0 auto 12px;
}
.sec4 .emoticon li{
    font-size: 24px;
    white-space: nowrap;
    text-align: center;
}
.sec4 .list{
    width: 1020px;
    margin: 0 auto;
    padding: 24px 0;
}
.sec4 .list li{
    margin-bottom: 12px;
}
.sec4 .list .flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 12px;
}
.sec4 .list .flex p{
    font-size: 24px;
}
.sec4 .list .flex span{
    font-size: 20px;
}
.sec4 .bar{
    margin-bottom: 12px;
}
.sec4 .box{
    background-color: #EDEDED;
    text-align: center;
    font-size: 20px;
    padding: 12px 0;
}
#src{
    opacity: 0;   
}
.ani1 #src{
    transition: all 1s;
}
.ani2 #src{
    transition: all 2s;
}
.ani3 #src{
    transition: all 3s;
}
.ani4 #src{
    transition: all 4s;
}
.ani5 #src{
    transition: all 5s;
}
.ani6 #src{
    transition: all 6s;
}
.emoticon img:hover{
    transition: all 0.5s;
    transform: scale(1.2);
}
@media (max-width:1020px){
    .sec1 .logo{
        width: 70%;
        left: 50%;
        transform: translateX(-50%);
    }
    .sec1 .text{
        width: 70%;
        left: 50%;
        transform: translateX(-50%);
        top: 300px;
    }
    .sec2 .head{
        font-size: 18px;
    }
    .swiper-slide .img{
        width: 50%;
    }
    .button-next{
        right: 2%;
    }
    .button-prev{
        left: 2%;
    }
    .sec3 .use_box{
        width: 92%;
    }
    .sec3 .use_box .use{
        width: 28%;
        font-size: 18px;
    }
    .sec4 .emoticon{
        width: 86%;
    }
    .sec4 .list{
        width: 92%;
    }
}
@media (max-width:780px){
    .sec1 .phone{
        width: 50%;
    }
    .sec2 .head{
        font-size: 16px;
    }
    .swiper-slide .text .num{
        width: 40px;
    }
    .swiper-slide .text h3{
        font-size: 24px;
        margin-bottom: 12px;
    }
    .swiper-slide .text p{
        font-size: 16px;
    }
    .button-next,.button-prev{
        width: 30px;
    }
    .sec3 h2{
        font-size: 30px;
    }
    .sec3 h2 .logo{
        width: 50px;
    }
    .sec3 .use_box .arrow{
        width: 12px;
    }
    .sec4 h2{
        font-size: 30px;
    }
    .sec4 h2 .logo{
        width: 50px;
    }
    .sec4 .emoticon li img{
        width: 40px;
    }
    .sec4 .list .flex p{
        font-size: 18px;
    }
    .sec4 .list .flex span{
        font-size: 14px;
    }
    .sec4 .box{
        font-size: 16px;
        padding: 8px 0;
    }
    .sec4 .emoticon li{
        font-size: 18px;
    }
}
@media (max-width:680px){
    .sec1{
        height: auto;
    }
    .sec1 .logo{
        width: 86%;
        margin: 0 auto;
        padding: 24px 0;
        position: unset;
        transform: translateX(0);
    }
    .sec1 .text{
        width: 86%;
        margin: 0 auto;
        padding: 24px 0;
        position: unset;
        transform: translateX(0);
    }
    .sec1 .text h2{
        font-size: 40px;
    }
    .sec1 .text p{
        font-size: 18px;
    }
    .sec1 .phone{
        display: none;
    }
}
@media (max-width:580px){
    .arrow{
        display: none;
    }
    .sec3 .use_box{
        justify-content: center;
    }
    .sec3 .use_box .use{
        width: 55%;
    }
    .swiper-slide .text .num{
        width: 30px;
    }
}
@media (max-width:480px){
    .sec1 .text h2{
        font-size: 30px;
        margin-bottom: 24px;
    }
    .sec1 .text p{
        font-size: 14px;
    }
    .sec2 .head{
        padding: 18px 0;
        font-size: 14px;
    }
    .swiper-slide .text h3{
        font-size: 18px;
    }
    .swiper-slide .text p{
        font-size: 14px;
    }
    .sec2 .swiper{
        padding: 50px 0;
    }
    .sec3 h2{
        font-size: 24px;
    }
    .sec3 h2 .logo{
        width: 40px;
    }
    .sec4 h2{
        font-size: 24px;
    }
    .sec4 h2 .logo{
        width: 40px;
    }
    .sec4 .box{
        font-size: 14px;
    }
    .sec4 .list{
        padding: 0;
    }
    .sec4 .list .flex p{
        font-size: 16px;
    }
}
.wave-text span {
    display: inline-block;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transform: translateY(-0px);
  }
  
  .wave-text span.up {
    transform: translateY(-40px);
  }